DEV_README.md
**/*.norg
**/terraform.tfstate
**/terraform.tfstate
**/terraform.tfstate.backup
**/.terraform.lock.hcl
**/errored.tfstate
**/images/
**/.terraform*
**/bin/
**/include/
**/lib/
**/lib64
**/pyvenv.cfg
**/.env
